---
title: "Keyboard Shortcuts"
section: "FAQ"
description: "Complete list of keyboard shortcuts in Char."
---

{%- for section in sections %}

## {{ section.title }}

{{ section.table }}
{% endfor -%}
